body {
  margin: 0;
}
#page {
  margin: 0 auto;
  width: 20em;
}

.item dd {
  margin-left: 0;
}

.item dt {
  text-transform: uppercase;
}
.item dd + dt {
  margin-top: 1em;
}

/* Items */
.item .details dt {
  font-size: 0.75em;
  text-transform: uppercase;
}
.item .details dd {
  margin-left: 0;
}
.item .details dd + dt {
  margin-top: 1em;
}

@media only screen and (min-width: 48em) {
  .item {
    float: left;
    margin: 1em 1%;
    overflow: hidden;
    position: relative;
    width: 31%;
  }
  .item .details a {
    color: yellow;
  }
  .item .thumb,
  .item .thumb img {
    display: block;
    line-height: 1;
  }
  .item .thumb {
    background-image: -webkit-linear-gradient(rgba(0, 0, 11, 0) -16%, rgba(0, 0, 1, 0.2));
    background-image: linear-gradient(rgba(0, 0, 11, 0) -16%, rgba(0, 0, 1, 0.2));
    height: 300px;
  }
  .item .thumb img {
    margin: 0 auto;
    max-width: 90%
  }
  .item .details {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    color: white;
    height: 0;
    opacity: 0;
    padding: 1em 1em 0 1em;
    position: absolute;
    width: 100%;
  }
  .item.transition .details {
    -webkit-transition-property: height, opacity;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
  }
  .item.transition:hover .details {
    height: 100%;
    opacity: 1;
  }
}
