<!doctype html>
<html>
  <head>
    <title>Function template</title>
    <meta charset="utf-8" />
    <script src="javascripts/jquery-1.8.1.min.js"></script>
  </head>
  <body>
    <!-- Output container -->
    <div id="output"></div>

    <script>
      /**
       * Adds two numbers together.
       */
      function numberAdder (a, b) {
        var value = a + b;

        return value;
      }

      function numberSubtractor (a, b) {
        var result = a - b;

        return result;
      }

      function greetings (name) {
        var output = "hi!, " + name;

        return output;
      }

      function smallTalk (cow) {
        var a = cow + ' .How are you?';

        return a;
      }

      var a = greetings('JohnnyD');

      var b = smallTalk(a);

      // Hello, SuzQ. How are you?



    </script>
  </body>
</html>
